# ===============================
# Secrets & local configuration
# ===============================
config.json

# ===============================
# Logs
# ===============================
*.log

# ===============================
# PyInstaller build artifacts
# ===============================
build/
dist/
*.spec

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/
